*{
    box-sizing: border-box;
}

.main-header{
    height: 77px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-header a{
    font-family: "CoreSansN-Bold";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
    display: block; 
    padding-top:32px; 
    text-align:center;
}
.main-header .item-menu{
    color:#ffff;
    width: 165px;
    background-color: #09c6d0;
}
.main-header .item-menu a{
    color:white;
}
.item-menu a{
    width: 165px;
    height: 77px;
    padding-left:15px;
}
.item-menu img{
    position: absolute;
    top:25px;
    left:20px;
}
.nav-menu{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-menu__item{
    color: #2281d6;
    border-left:2px solid #e1e8ef;
    border-bottom:3px solid #e1e8ef;
    height:76px;
    display:block;
    width: calc(100% / 6);
}

/*мемасний костиль,який не работає толком, і був зроблений просто шоби било*/ 
.nav-menu__item img{
    display:block;
    position:relative;
    left:80px;
    top:-10px;
}





.main-header .auth-block{
    display: flex;
    align-items:center;
}

.auth-block__item_orange{
    color:#ffff;
    display: block;
    height:100%;
    width: 130px;
    background-color: #ff7506;
}
.auth-block__item_blue{
    color:#ffff;
    height: 77px;
    width: 72px;
    border-left:2px solid #e1e8ef;
    background-color: #09c6d0;
}

.auth-block__item_blue img{
    position: relative;
    top:-5px;
}